*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background:url("imagen2.jpg") no-repeat ;
    background-size: cover ;
   background-position: center;
}
.r{

    width: 80%;
    height: 500px;
    
    margin: 10%;

}
.prom{
   backdrop-filter: blur(10px); 
   border: 1px solid #fff;
     width: 24.8%;
     height: 500px;
     float: left;
      margin: 1px;
}
i{
    font-size: 40px;
   color: azure;
   margin-top: 40px;
   margin-left: 100px;
}
p{
    color: azure;
    margin-left: 100px;
    margin-top: 10px;
}
.dinero{
    font-size: 50px;
    color: aquamarine;
  
}
.mensual{
   margin-top: -45px;
   vertical-align: bottom;
}
.plata{
    font-size: 20px;
    vertical-align: top;

}
.ok{
    text-align: center;
    margin: 40px;
}
.boton{
    width: 80%;
    height: 10px;
    backdrop-filter: blur(10px);
    margin-left: 30px;
    margin-top: 80px;
    text-align: center;
    padding: 30px;
    border: 1px solid #fff;
    color: #fff;
}